modules = ["dart-3.8"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flutter App Server"

[[workflows.workflow]]
name = "Flutter App Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dart run server.dart"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42799
externalPort = 3000
